@import '@/theme.scss';

.btn {
  @extend %btn-base;
}

.function-btn {
  @extend %btn-base;
  @extend %function-btn-base;
  
  width: $btnStandardSize;
  height: $btnStandardSize;
}

input[type='text'] {
  outline: none;
  border: 1px solid $borderColor;
  border-radius: 2px;
  height: 25px;
  box-sizing: border-box;
  padding-left: 5px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

div.hr {
  height: 4px;
  background-color: black;
}

.back {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scrollColor;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scrollActive;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slide-left-enter-active, .slide-left-leave-active {
  transition: 0.3s ease-out;
}

.slide-left-enter-to, .slide-left-leave-from {
  transform: translateX(0);
}

.slide-left-enter-from, .slide-left-leave-to {
  transform: translateX(-100%);
}

.pop-enter-active {
  animation: pop-in 0.3s;
}

.pop-leave-active {
  animation: pop-in 0.3s reverse;
}

@keyframes pop-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}