$menuWidth: max(20%, 230px);

$borderColor: rgb(220, 220, 220);
$darkBgc: rgb(250, 250, 250);
$darkHover: rgb(235, 235, 235);
$darkActive: rgb(225, 225, 225);
$lightBgc: white;
$scrollColor: rgb(182, 182, 182);
$scrollActive: rgb(151, 151, 151);
$menuAniTime: 0.2s;

$btnStandardSize: 30px;

$footerHeight: 25px;
$headerHeight: 50px;
$btnColor: gray;

%btn-base {
  color: $btnColor;
  user-select: none;

  &:hover {
    background-color: $darkHover;
  }

  &:active {
    background-color: $darkActive;
  }
}

%function-btn-base {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $borderColor;
}